*{
    box-sizing: border-box;
}

body{    
    background-image: linear-gradient(#0E97B1, #30BB72);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;   

}
header{
    height: 15%;
    position: relative; 
    display: flex;
    justify-content: center; 
}
.header-container{
    width: 1000px;
    height: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.logo{
font-size: xx-large;
font-weight: bolder;
}

.logo span{
    color: red;
}

header nav button{
    background:none;
    line-height: 1.5em;
    font-size: 1.5rem;
    border-radius: 3em;
    border: 1px solid black;
    cursor: pointer;

}

header nav button:hover{
    background-color: #30BB72;
}

header nav input{
    line-height: 1.5em;
    font-size: 1.5rem;
    border-radius: 3em;
    border: 1px solid black;
}
.dark-screen{
    position:fixed;
    background-color: black;
    opacity: 0.6;
    width: 1000px;
    height: 100%;
}
main{
    height: 75%;
    margin: 0 auto;
    max-width: 1000px;
    
    
}

.meme-editor{
    position: absolute;
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;   

}

.canvas-container{    
    background-color: aqua;    
    max-width: 700px;
    max-height: 700px;
    width: 80%;


}
.actions{
    background-color: #30BB72;  
    width: 20%;  
    height: 700px;
    
}

.gallery{
    width: 1000px;
    height: 100%;    
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center; 
    justify-items: center;
}
.gallery::-webkit-scrollbar{
    width: 15px;
}
.gallery::-webkit-scrollbar-thumb{
background-color:red;
border-radius: 20px;
}
.gallery::-webkit-scrollbar-track{
background: black;
border-radius: 20px;
}

.gallery img{    
    height: 150px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.gallery img:hover{   
    box-shadow: 0px 0px 15px 12px #FF0000;
}

.close-editor{    
    float: right;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.meme-editor h2{
text-align: center;
}

.actions-bar{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "pickLine pickLine  inc-font-size inc-font-size dec-font-size dec-font-size"
    "fillColor fillColor fillColor strokeColor strokeColor strokeColor"
    "left left center center right right"
    "text text text text text text"
    "download download save save share share"
    ;
}

.actions-bar img{
    height: 50px;
    width: 50px;
    justify-self: center;
    cursor: pointer;
}
.save{
    grid-area: save;
}
.pick-line{   
    grid-area: pickLine;
}
.inc-font-size{
    grid-area: inc-font-size;    
}
.dec-font-size{
    grid-area: dec-font-size;    
}
.fillColor{
    grid-area: fillColor;
    justify-self: center;
    padding: 0;
    border: none;
    background: none;
}
.strokeColor{
    grid-area: strokeColor;
    justify-self: center;
    padding: 0;
    border: none;
    background: none;
}
.text{
    grid-area: text;
}
.al-left{
    grid-area: left;
   
}
.al-center{
    grid-area: center;
   
}
.al-right{
    grid-area: right;
    
}
.download, .share{    
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5em;
    border: 1px solid black;
    width: 60px;
    color: black;
    text-align: center;
    border-radius: 2em;
    justify-self: center;
    background: none;
    cursor: pointer;
}
.download{
    grid-area: download;
}
.share-form{
    grid-area: share;
}




footer{    
    height: 10%;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

footer span{
    color: red;
}
.hidden{
    display: none;
}


@media screen and (max-width: 1000px) {
    .header-container{
        width: 750px;
        flex-direction: column;
        justify-content: space-around;
    }
    .gallery{
        width: 750px;
    }

    .dark-screen{
        width: 750px;
    }

    .actions-bar{
        grid-template-rows: 70px 70px 70px 70px 70px 70px;
        grid-template-areas: 
        "pickLine pickLine  inc-font-size inc-font-size dec-font-size dec-font-size"
        "fillColor fillColor fillColor strokeColor strokeColor strokeColor"
        "left left center center right right"
        "text text text text text text"
        " . . save save . ."
        "download download download  share share share"
    ;
    }

    .meme-editor{
        width: 750px;
        height: 500px;
    }

    .actions{
        height: 500px;
    }

    .canvas-container{
        max-width: 500px;
        max-height: 500px;
    }
}

@media screen and (max-width: 750px) {
    .header-container{
        width: 600px;
       
    }
    .gallery{
        width: 600px;
        overflow-y: auto;
    }
    .meme-editor{
        width: 600px;        
    }
    .canvas-container{
        max-width: 450px;
        max-height: 450px;
    }
    .actions{
        height: 450px;
    }
    .font-size{
        width: 50px;
    }
    .actions-bar img{
        height: 37px;
        width: 37px;
    }
    .actions-bar{
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        grid-template-areas: 
        "pickLine pickLine  inc-font-size inc-font-size dec-font-size dec-font-size"
        "fillColor fillColor fillColor strokeColor strokeColor strokeColor"
        "left left center center right right"
        "text text text text text text"
        " . . save save . ."
        "download download download  share share share"
    ;
    }


}

@media screen and (max-width: 600px){
    .header-container{
        width: 430px;      
    }
    .gallery{
        width: 430px;
    }
    header nav button{
        font-size: 1rem;
    }
    header nav input{
        font-size: 1rem;
    }

    .meme-editor{
        width: 430px;        
    }
    .canvas-container{
        max-width: 400px;
        max-height: 400px;
        width: 100%;
        height: 100%;
    }
    
    .dark-screen{
        width: 430px;
    }
    .actions-bar{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 70px 70px 70px;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        "text text left center right"
        "pickLine inc-font-size dec-font-size fillColor strokeColor"
        "download . save . share"              
        ;
    }
    .actions{
        width: 400px;
    }
    .meme-editor{
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: unset;
        height: 670px;
    }
}